h1.logo {font-size:inherit}
th.field-name {hyphens: manual; -webkit-hyphens: none}
dl.class dt {padding-left: 5em; padding-right: 5em; text-indent: -5em}
dl.function dt {padding-left: 5em; padding-right: 5em; text-indent: -5em}
div.seealso {background-color: initial; border: initial}
