div.body { max-width: 85% }
div.document { width: 90% }
h1.logo {font-size:inherit}
th.field-name {hyphens: manual; -webkit-hyphens: none}
dl.class>dt {text-indent: -45px; padding-left: 45px}
dl.function dt {text-indent: -45px; padding-left: 45px}
div.seealso {background-color: initial; border: initial}
